#newmsg {
  width: 75%;
  padding: .5rem ;
  font-size: 130%;
}

#newmsg-container {
    padding: 10px;
}

.parent-div > div {
    float: left;
    clear: none;
}

#status-div {
    float: right;
    padding-right: 20px;
}

body {
    margin: 8px;
}

ol {
    width: 90%;
    background-color: whitesmoke;
    padding-top: .5rem;
}

li {
    font-family: "Trebuchet MS", serif;
    width: 80%;
    background-color: white;
    padding-left: 5px;
}

h1 {
    font-family: "Open Sans", "Trebuchet MS", serif;
    padding: 15px 15px 15px;
    border-radius: 5px;
    background-color: lightsteelblue;
    width: 80%;
    text-align:center;
}


#messages > li {
  margin-top: 1rem;
}
